html {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

button {
    cursor: pointer;
    border-radius: 0.25rem;
}

button:hover, button:active {
    color: white;
    background-color: black;
}

#quote-container {
    width: auto;
    margin: 1rem;
    padding: 1rem;
    max-width: 90%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    font-size: 3rem;
}

#quote-author {
    margin: 1rem;
}

@media screen and (max-width: 1080px) {
    .quote-text {
        font-size: 2rem;
    }
}

#loader {
    top: auto;
    left: auto;
    z-index: 99;
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}